@use '../../static/styles/partials/variables/fonts' as *;

.header {
  display: flex;
  width: 90%;
  height: 5rem;
  margin-top: 1rem;
  margin-left: 5%;
  background: #ccc;
  border: 1px #fff solid;
  border-radius: 1rem;
  opacity: 0.5;
  box-shadow: 0 0 6px 0 #000;
  align-items: center;
  justify-content: center;
  & h1 {
    text-shadow: -1px 0px #fff;
    font-family: $serif;
    font-size: 2rem;
  }
}